{% extends 'base.html' %}
{% block content %}
<h1>E COMMERS SATE</h1>

<h5>NPM: </h5>
<p>2306245062</p> 
<h5>Name: </h5>
<p>Muhammad Ruzbehan Baqli</p> 
<h5>Class: </h5>
<p>PBP E</p> 


<h2>Nama makanan: </h2>
<p>{{ name }}<p>
<h2>Harga: </h2>
<p>{{ price }}<p>
<h2>Deskripsi makanan: </h2>
<p>{{ description }}<p>
<h2>Jumlah stok makanan: </h2>
<p>{{ quantity }}<p>

{% if not product %}
<p>Belum terdapat data makanan pada produk .</p>
{% else %}
<table>
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
    {% endcomment %} 
    {% for produk in product %}
    <tr>
        <td>{{produk.name}}</td>
        <td>{{produk.price}}</td>
        <td>{{produk.description}}</td>
        <td>{{produk.quantity}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
    <button>Add New Product</button>
</a>
{% endblock content %}